.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: solid #172b4dd2 1px;
  cursor: pointer;
  padding: 8px 12px 4px;
  color: #172b4d;
  width: 272px;
  background-color: #fff;
  margin-bottom: 0.5rem;

  &:hover .editCardButton {
    visibility: visible;
  }
}

.container:hover {
  outline: solid #266bebd2 2px;
}

.editableTitle {
  width: 100%;
  padding: 0;
  outline: none;
  border: none;
  resize: none;
  min-height: 2rem;
}

.editCardButton {
  visibility: hidden;
  outline: none;
  border: none;
  align-self: stretch;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border-radius: 4px;
}

.editCardButton:hover {
  background-color: #091e4224;
}

.editCardImg {
  width: 0.9rem;
  height: 0.9rem;
}
